/*  Kevin Kraaijveld CSS Library
============================================================================

1. Algemene CSS
2. Header
3. CONTENT BLOCKS
4. Overige CSS

============================================================================ */


@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@font-face {
    font-family: 'pokemon_hollownormal';
    src: url('pokemon_hollow-webfont.woff2') format('woff2'),
         url('pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* 1. Algemene CSS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
  margin: 0 auto;
  width: 50%;
  font-family: Open Sans, Verdana, sans-serif;
  font-size: 12pt;
	width : 700px;
  height: 95vh !important;
  background-image: url("../images/bg-pokedex-top-lite.png");
  margin: 1px;

}

h1 {
  font-family: Open Sans Condensed, sans-serif;
  font-weight: normal;
  font-size: 24pt;
  color: #666;
  margin-top: 7px;
  margin-bottom: 8px;
  border-bottom: 1px dotted grey;
}

h2 {
  font-family: Open Sans Condensed, sans-serif;
  font-weight: normal;
  font-size: 35px;
  color: #069;
  margin-bottom: 0;
  margin: 0;
}

h2 ~ p {    /* only applies to p-elements on the main page */
    margin: 0;
    position: relative;
    top: -40px;     /* move person names to line up with the day number */
    left: 50px;     /* make sure the person names don't overlap the day number */
}

h3{
  font-weight: normal;
  font-size: 30px;
  margin-top: 15px;
  color: #fff;
  font-family: 'pokemon_hollownormal';
}

#createNew, #createSpec {
    color: blue;
    display: block;
    text-align: center;
    margin-bottom: 25px;
    text-decoration: none;
}
.middle{
  display: block;
  text-align: center;
  text-decoration: none;
}
.middle:hover{
  padding-bottom: 4px;
  text-decoration: underline;
}

a {
	color : black;
}
main{
  position: absolute;
    bottom: 10%;
    left: 44%;
}

/* 2. HEADER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

header{
  position: absolute;
  right: 42%;
  top: 13px;
}
div#menu ul{
    display: -webkit-box;
    list-style-type: none;
    margin-top: 48px;
    color: #fff;
}
div#menu li{
  padding-left: 8px;
  padding-right: 8px;
}
div#menu li a{
  color: #fff;

}
div#menu li a:hover{
  color: #b5a8a8;
}
li#createNew{
  margin-left: 93%;
  font-size: 20px;
  line-height: 23px;
}

/* 3. CONTENT BLOCKS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*    Main
---------------------------------------------------------------------------- */


/*    Formulier
---------------------------------------------------------------------------- */

form p {
    margin: 5px 0;
}

form label {
    display: inline-block;
    width: 150px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3287ef;
    color: white;
    padding: 14px 20px;
    margin-top: 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button] {
    width: 100%;
    background-color: #ff0505;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0050b2;
}
input[type=button]:hover {
    background-color: #d81e1e;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*    Algemeen
---------------------------------------------------------------------------- */
#dex{
  border-radius: 5px 0px 0px 5px;
  height: 67%;
  width: 725px;
  overflow-y: scroll;
  position: absolute;
  left: 23%;
  top: 29%;
  background-color: #f2f2f2;
  padding: 3px 5px 4px 12px;
}
#pokimage{
    position: absolute;
    left:2%;
    top: 31%;
    width: 125px;
    height:125px;
}
#typeImageOne{
    position: absolute;
    right:7%;
    top: 31%;
    width: 100px;
    height:100px;
}
#typeImageTwo{
    position: absolute;
    right:7%;
    top: 60%;
    width: 100px;
    height:100px;
}
#region{
  position: absolute;
  left:2%;
  top: 31%;
  width: 125px;
  height:125px;
}
#nextPoke{
  position: absolute;
  left: 21%;
  top: 11%;
}
#nextPoke ul{
  display: -webkit-box;
  list-style-type: none;
}
#nextPoke ul li{
  padding-left: 8px;
  padding-right: 8px;
}
table {
	width : 700px!important;
}


table, td, th {
  border-bottom: 1.5px solid #afafaf;
	border-collapse : collapse;
	color : black;
  width: 22%;
}

td, th {
	padding : 4px;
}

th {
	text-align : left;
}

td.center{
	text-align : center;
}
td.center a{

	text-align : center;
  color: blue!important;
}
th.comment{
  width:35%;
}

p.options{
	text-align : right;
}

label {
	display : inline-block;
	width : 100px;
}
form div {
	margin: 5px 0;
}

.deletethis{
  color:red!important;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  bottom: 1px;
}
.deletethis:hover{
  text-decoration: underline;
}

.editthis{
  color:blue!important;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  bottom: 1px;
}
.editthis:hover{
  text-decoration: underline;
}

/* Table
---------------------------------------------------------------------------- */
  table{
    position: absolute;
  left: 3%;
    width: 62.5%;
  }
  th{
   font-size: 20px;
    }
    span#sorttable_sortrevind{
      display: none !important;
    }
    tbody{
          height: 90%;
              overflow-y: scroll;
    }
    td.id{
      width:12%;
    }
    th.id{
      width:7%;
    }
/*    Footer
---------------------------------------------------------------------------- */


footer{
    position: fixed;
    bottom: 20px;
    right: 25px;
		color: #fff;
		transition: 0.4s ease;
}
footer:hover{
    bottom: 15px;
}


/* 4. Overige CSS
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/*Made by Kevin Kraaijveld*/
